<div class="large-6 large-centered columns">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div>
	      <h4 class="alert-box alert text-center">
	      	There were <%= pluralize(@user.errors.count, "error") %>
	      </h4>       
	     	<ul class="panel callout radius">
	      <% @user.errors.full_messages.each do |message| %>
	        <li class="form-errors"><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>
	  <div>
	    <%= f.label :city %>
	    <%= f.text_field :city %>
	  </div>
	  <div>
	  	<%= f.label :password %>
	  	<%= f.password_field :password %>	  	
	  </div>
	  <div>
	  	<%= f.label :password_confirmation, "Password Confirmation" %>
	  	<%= f.password_field :password_confirmation %>	  	
	  </div>
	  <div>
	    <%= f.submit class: "button expand" %>
	  </div>
	<% end %>
</div>
