<div class="large-6 large-centered columns">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div>
	      <div data-alert class="alert-box alert radius text-center">
	      	<%= content_tag(:span, "There were") %>  
	      	<%= content_tag(:span, pluralize(@user.errors.count, "error")) %>
			<%=  link_to raw('&times;'), '#', class: "close" %>
	      </div>       
	     	<ul class="panel callout radius">
	     		<% @user.errors.full_messages.each do |message| %>
	        		<li class="form-errors"><%= message %></li>
	      		<% end %>
	      	</ul>
	    </div>
	  <% end %>

	  <div>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>
	  <div>
	    <%= f.label :city %>
	    <%= f.text_field :city %>
	  </div>
	  <div>
	  	<%= f.label :password %>
	  	<%= f.password_field :password %>	  	
	  </div>
	  <div>
	  	<%= f.label :password_confirmation, "Password Confirmation" %>
	  	<%= f.password_field :password_confirmation %>	  	
	  </div>
	  <div>
	    <%= f.submit class: "button expand" %>
	  </div>
	<% end %>
</div>
