<div class="large-6 large-centered columns">
	<%= form_for(@user) do |f| %>
	  <% if @user.errors.any? %>
	    <div>
	      <div data-alert class="alert-box alert radius text-center">
	      	<%= content_tag(:span, "There were") %>  
	      	<%= content_tag(:span, pluralize(@user.errors.count, "error")) %>
			<%=  link_to raw('&times;'), '#', class: "close" %>
	      </div>       
	     	<ul class="panel callout radius">
	     		<% @user.errors.full_messages.each do |message| %>
	        		<li class="form-errors"><%= message %></li>
	      		<% end %>
	      	</ul>
	    </div>
	  <% end %>

	  <div>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
	  <div>
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>
	  <div class="row">
	  	<div class="large-8 columns">
		    <%= f.label :city %>
		    <%= f.text_field :city %>
		</div>
		<div class="large-4 columns">
		    <%= f.label :state %>
		    <%= f.select :state, options_for_select(us_states) %>
		</div>
	  </div>
	  <div>
	  <div class="row">
	  	<div class="large-6 columns">
		    <%= f.label :job_title, "Job Title" %>
		    <%= f.text_field :job_title %>
		</div>
		<div class="large-6 columns">
		    <%= f.label :company_or_organization, "Company/Organization" %>
		    <%= f.text_field :company_or_organization %>
		</div>
	  </div>
	  	<%= f.label :password %>
	  	<%= f.password_field :password %>	  	
	  </div>
	  <div>
	  	<%= f.label :password_confirmation, "Password Confirmation" %>
	  	<%= f.password_field :password_confirmation %>	  	
	  </div>
	  <div>
	    <%= f.submit class: "button expand" %>
	  </div>
	<% end %>
</div>
