<% provide(:title, "Alumni") %>

  <h1>CS Alumni</h1>

<%= search_form_for @search do |f| %>
<div class="large-6 columns">
	<%= f.label :name_or_city_or_state_cont, "Search for Alumni" %>
	<%= f.text_field :name_or_city_or_state_cont, 
											placeholder: "Search by name or location" %>
	<div>
		<%= f.submit "Search", class: "button" %>
		<%= link_to "See Alumni Map", map_path, class: "map-link" %>
	</div>
</div>

	
<% end %>
<div class="large-10 columns">

  <%= will_paginate @collection, renderer: FoundationPagination::Rails %>

  <ul class="users clearfix">
    <%= render @users %>
  </ul>

  <%= will_paginate @collection, renderer: FoundationPagination::Rails %>

</div>

