
		<hr>
		<div class="large-8 columns">
			<h5>
				<small>
					For more information on the Harding University Computer Science department 
					please visit <%= link_to "www.harding.edu/comp", 'https://www.harding.edu/comp' %>
				</small>
			</h5>
		</div>
		<div class="large-4 columns right">
			<ul class="inline-list custom-list">
				<li><%= link_to 'About', about_path %></li>
				<% if signed_in? %>
					<li><%= link_to 'Profile', current_user %></li>
					<li><%= link_to 'Find Alumni', users_path %></li>	
					<li><%= link_to 'Sign out', signout_path, method: "delete" %></li>	
				<% else %>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Sign in', signin_path %></li>
					<li><%= link_to 'Sign up', signup_path %></li>
				<% end %>
			</ul>
		</div>